{% extends 'base.html' %}

{% block title %} Article{% endblock title %}

{% block content %}
    <h1>Articles</h1>
    <br />
    <ul>
        {% for article in article_list %} 
        <div class="card text-dark bg-light mb-3">
            <div class="card-header">
                    <h5>{{ article.title }} </h5> 
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ article.body }} </p>
                        <footer class="blockquote-footer">By <cite title="Source Title">{{ article.author}}</cite></footer>
                    </blockquote> <br />
                    <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary">Go to the Article</a>
                </div>
            </div> <br />
        {% endfor %}
    </ul>
{% endblock content %}