{% extends 'base.html' %} 

{% block title %} Detail Article{% endblock title %} 

{% block content %} 
    <div class="card text-dark bg-light mb-3">
        <div class="card-header">
            Article by: {{ article.author }} | Date: {{ article.date}}
        </div>
        
        <div class="card-body">
            <h5 class="card-title"> {{ article.title }}</h5>
            <p class="card-text"> {{ article.body }} </p>
            <a href="{% url 'article_update' article.pk %}"  class="btn btn-primary">Edit</a>
            <a href="{% url 'article_delete' article.pk %}"  class="btn btn-danger">Delete</a>
        </div>
  </div>

{% endblock content %}
